.main-cursos{
    display: flex;
    justify-content: center;
     padding: 40px;
}

.main-cursos div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cursos div a{
    font-size: 1.3em;
    font-weight: bold;
}

.main-cursos img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    border-radius: 50%;
    border: 3px solid #ccc;
}

.main-cursos img:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.4s all ease;
}

@media (max-width: 750px) {
    .main-cursos{
        flex-direction: column;
    }
}